/* Phone and general CSS */
body{
    background-color: #A60000;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#headerimage{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#container {
    background-color: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #A60000;
}

h1,h2,h3{
    text-align: center;
}

/* navigation start*/
nav{
    padding: 2px 0;
    text-align: center;

}
nav ul{
    padding: 0;
    list-style-type: none;

}
nav li{
    display: block;
     border: 2px solid #241909;

}
nav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: white;
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 0;
}
nav li a:hover{
    background-color: #000000 ;
    color: #FF0000;
}
/* navigation end*/

/* home page navigation*/
#homepagenav{
    padding: 2px 0;
    text-align: center;

}
#homepagenav ul{
    padding: 0;
    list-style-type: none;

}
#homepagenav li{
    display: block;
     border: 2px solid #241909;

}
#homepagenav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: white;
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 0;
}
#homepagenav li a:hover{
    background-color: #000000 ;
    color: #FF0000;
}

main{
    padding: 20px;
}

.single_page{
    width: 100%;
}

.center{
    text-align: center;
    margin: 0 auto;
}

table{
    width: 75%;
    border: #000000;
    margin: 0 auto;
}

tr, td{
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
}

tr, td a{
    color:#FF0000
}
tr, td a:hover{
    color:#00FFFF
}

table img{
    width:100%;
}

.gallery img{
    width: 75%;
}

footer{
    text-align: center;
    color: #FFFFFF;
}

/* Tablet CSS */
@media (min-width:768px){

    
    nav li{
        display: inline-block;
        border: 0;
    }
    nav li a{
        width:150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid #000000;
    }

    
    #homepagenav li{
        display: block;
         border: 2px solid #000000;
    
    }
    #homepagenav li a{
        width: 50%;
        margin: 0px auto;
        display: block;
        height: 50px;
        line-height: 50px;
        background-color: white;
        color: #000000;
        text-decoration: none;
        font-size: 2em;
        padding: 5px 0;
}

main{
    display: flex;
}
section, aside{
    padding: 10px;
    margin: 10px;
}
section{
    width: 70%;
}
aside{
    width:30%;
}

tr, td{
    font-size: 1.2em;
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
}


.single_page {
    width: 100%;
}
}

/* Desktop CSS */
@media (min-width:1024px){

    #container{
        width: 75%;
        margin: 20px auto;
    }
    
    table{
        margin: 0 auto;
    }

    tr, td{
        font-size: 1.2em;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .single_page{
        width: 100%;
    }

    #headerimage{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}